---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Mi blog de Astro aprendizaje";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Este es mi blog!</h1>
  <p>
    Estoy trabajando en el tutorial introductorio de Astro. Esta es la tercera
    página de mi sitio web, ¡y es la primera que he construido yo mismo!
  </p>
  <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
  <ul>
    <li><a href="/posts/post-1/">Publicación 1</a></li>
    <li><a href="/posts/post-2/">Publicación 2</a></li>
    <li><a href="/posts/post-3/">Publicación 3</a></li>
  </ul>
</BaseLayout>
